{# We can arrange all these varaible according to our design #}
<p><strong>City: </strong> {{ city }}</p>
<p><strong>Country: </strong> {{ country }}</p>
<p> <strong>TimeZone: </strong>{{ custom_timezone }}</p>
<p> <strong>Date Time: </strong>{{ datetime }}</p>